:root {
  --primary-color: rgb(13, 115, 119);
  --secondary-color: rgb(50, 224, 196);
  --tertiary-color: rgb(238, 238, 238);
  --font-color: rgb(33, 33, 33);
  --light-grey: rgb(211, 211, 211);
  --grey: rgb(128, 128, 128);
  --dark-grey: rgb(59, 59, 59);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --margin-default: 3rem;
  --container-width: 90%;
  --error-msg-gradient-from: rgb(219, 52, 69);
  --error-msg-gradient-to: rgb(247, 23, 53);
  --success-msg-gradient-from: rgb(11, 171, 100);
  --success-msg-gradient-to: rgb(59, 183, 143);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  color: var(--font-color);
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-color);
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-color);
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--font-color);
  margin: 0;
}

p {
  font-size: 1rem;
  color: var(--font-color);
  margin: 0;
}

main {
  width: var(--container-width);
  margin: 0 auto;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.notice-container {
  background-color: var(--secondary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.notice-container > p {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  width: 10rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu {
  font-weight: 500;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.nav-menu:not(:last-child) {
  padding-right: 2rem;
}

.nav-link {
  text-decoration: none;
}

/* Notice */
.notice-text {
  margin: 1rem 0;
  color: var(--white);
}

/* Form Inputs */
.input-container {
  width: 100%;
  padding: 0.5rem;
  position: relative;
  box-sizing: border-box;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.radio-options:not(:last-child) {
  padding-right: 2rem;
}

.radio-options > label {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--grey);
}

.input-field,
textarea {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  border: none;
  padding-left: 1rem;
  border-bottom: 0.15rem solid var(--secondary-color);
}

textarea {
  outline: none;
  resize: vertical;
  height: 5rem;
}

.complain-textarea {
  width: 90%;
  margin: 0 5%;
  padding: 0 0.5rem;
  margin-top: -5rem;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.btn--primary {
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: bold;
}

.btn--primary:hover {
  background-color: var(--primary-color);
}

/* Message bar */
.message-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-text {
  width: 100%;
  text-align: center;
  margin: 3rem;
  padding: 0.8rem;
}

.text-error {
  background-color: red;
  color: white;
}

.text-success {
  background-color: green;
  color: white;
}

/* LOGIN SCREEN */

.login-screen {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form,
.login-img {
  width: 50%;
}

.login-heading,
.register-heading {
  margin-bottom: 1.5rem;
}

.login-bnr-img {
  width: 90%;
  margin: 0 auto;
}

.register-link {
  margin: 1rem 0;
}

.register-link > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

.register-link > a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

/* Register */

.register-screen {
  width: 80%;
  margin: 5rem auto;
}

.input-fields-box {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4rem;
  margin: 3rem;
}

/* CATEGORY */
.category-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.category {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

.category-link {
  text-decoration: none;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.5;
  transform: scale(1.05);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.category-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

.category-link:hover > .category-img {
  opacity: 1;
  transform: scale(1.2);
}

/* HOMESCREEN */

.homescreen-heading {
  margin: 3rem 0;
}

.service-information {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.services {
  width: 73%;
}

.information-container {
  width: 25%;

  border-radius: 4px;
  background-color: var(--primary-color);
}

.information {
  padding: 0.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

.info-heading {
  padding: 1rem 0;
  letter-spacing: 1px;
  color: var(--white);
  text-align: left;
}

.category-grid {
  display: grid;

  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(3, 15rem);
  grid-gap: 1rem;
}

.category_citizen {
  grid-area: 1/1/3/2;
}

.category_birth {
  grid-area: 1/2/2/3;
}

.category_death {
  grid-area: 2/2/3/3;
}

.category_marriage {
  grid-area: 3/1/4/2;
}

.category_complain {
  grid-area: 3/2/4/3;
}

/* NOTICE */
.notice-lists {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  grid-auto-columns: 1fr;
  grid-gap: 0.5rem;
}

.notice-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.notice-icon {
  margin-right: 0.5rem;
}

/* HERO_BANNER */
.hero-banner {
  position: relative;
  height: 90vh;
  width: 100%;
  margin: 3rem 0;
  border-radius: 4px;
  background-color: rgba(13, 116, 119, 0.5);
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.75;
}

.hero-caption {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 60%;
  min-height: 30%;
  border-radius: 4px;
  padding: 1.5rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-caption > h1,
.hero-caption > p {
  text-align: center;
  color: var(--white);
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.521);
}

.hero-caption > p {
  font-size: 1.2rem;
}

.hero-cta {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* FOOTER */
.footer {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}

.footer > p {
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.footer > p:not(:last-child) {
  margin-bottom: 0.75rem;
}

.author {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-text {
  margin: 0;
}

.footer-heart {
  height: 0.75rem;
  color: #fe251b;
  animation: 1.5s cubic-bezier(0.5, 0, 0.5, 1) 0s normal none infinite running
    heartbeat;
  -webkit-animation: 1.5s cubic-bezier(0.5, 0, 0.5, 1) 0s normal none infinite
    running heartbeat;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/*  */
/*  DIALOG */
/*  */

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  animation: dialogAnimation 0.7s linear;
}

.dialog--normal {
  background-color: var(--secondary-color);
}

.dialog--error {
  background: linear-gradient(
    to bottom,
    var(--error-msg-gradient-from),
    var(--error-msg-gradient-to)
  );
}

.dialog--success {
  background: linear-gradient(
    to bottom,
    var(--success-msg-gradient-from),
    var(--success-msg-gradient-to)
  );
}

.dialog-text {
  color: var(--white);
}

@keyframes dialogAnimation {
  from {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  to {
    width: 20rem;
    height: 15rem;
    opacity: 0.9;
  }
}

/* SUPPORT SCREEN */
.support-screen {
  width: 80%;
  margin: 5rem auto;
}
